<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dodram_hebron.mappers.adminMapper">
	<select id="selectAdminAcount" resultType="adminVO" parameterType="String">
		SELECT *
		  FROM ROSTER_INFO
		 WHERE ROSTER_ID = #{id}
	</select>
	
	<select id="selectContactBoard" resultType="contactBoardVO">
		SELECT *
		  FROM CONTACT_BOARD
	  ORDER BY CONTACT_PKID DESC
	</select>
	
	<insert id="insertContactBoard" parameterType="java.util.Map">
		INSERT INTO 
			CONTACT_BOARD(USER_NAME, USER_EMAIL, USER_TEL, USER_TITLE, USER_QUES, MAIL_YN, TYPE) 
		VALUES(#{name}, #{email}, #{tel}, #{title}, #{contents}, 'N', #{type})
	</insert>
</mapper>