<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dodram_hebron.mappers.adminMapper">
	<select id="selectAdminAcount" resultType="adminVO" parameterType="String">
		SELECT *
		  FROM Roster_info
		 WHERE Roster_ID = #{id}
	</select>
	
	<select id="selectContactBoard" resultType="contactBoardVO">
		SELECT *
		FROM Contact_board
		WHERE Delete_YN = 0
	  ORDER BY Contact_PKID DESC
	</select>
	<select id="selectEditorBoard" resultType="editorVO">
		SELECT *
		FROM editor_board
		WHERE title = #{title}
	</select>
	
	<select id="selectUpdateReport" resultType="com.dodram_hebron.vo.UpdateReportVO">
		SELECT *
		FROM update_report_board
		ORDER BY no DESC
	</select>
	
	<select id="selectAccessLogCount" resultType="Integer" parameterType="java.util.Map">
		SELECT count
		FROM access_log
		WHERE date = curdate() and type = #{type}
	</select>
	
	<insert id="insertContactBoard" parameterType="java.util.Map">
		INSERT INTO 
			Contact_board(User_Name, User_Email, User_Tel, User_Title, User_Ques, Mail_YN, Type) 
		VALUES(#{name}, #{email}, #{tel}, #{title}, #{contents}, 'N', #{type})
	</insert>
	
	<insert id="insertCompanyAccessLog" parameterType="java.util.Map">
		INSERT INTO	access_log(type, date, count, register_date)
		VALUES (#{companyType}, #{date}, 1, now())
	</insert>
	
	<update id="updateEditorBoard" parameterType="java.util.Map">
		UPDATE editor_board
		SET content = #{content}
		WHERE title = #{title}
	</update>
	
	<update id="deleteContract" parameterType="java.util.Map">
		UPDATE Contact_board SET Delete_YN = 1, Delete_User = #{userId}, Delete_Date = now() WHERE Contact_PKID = #{no}
	</update>
	
	<update id="updateCountCompanyAccessLog" parameterType="java.util.Map">
		UPDATE access_log 
		SET count = count+1
		WHERE date = #{date} and type = #{companyType}
	</update>
</mapper>