@charset "UTF-8";

/* HEADER START */
.header {
	position: fixed;
	width: 100%;
	z-index: 4;
}
.wrap-header-1 {
	width: 100%;
	background-color: #414a68;
	/* background-color: #00c73c; */
}
.container-header-1 {
	position: relative;
	width: 1170px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	margin: 0 auto;
	color: #f8f8f8;
}
.menu-header-1 {
	position: absolute;
	top: 0;
	right: 10px;
}
.menu-header-1 a {
	color: #f8f8f8;
}
.menu-header-1 a:hover {
	font-weight: 600;
}
.menu-header-1 span {
	color: #f4f4f4;
}
.menu-header-1 > ul > li {
	display: inline-block;
	padding: 0 8px;
}
.container-header-2 {
	position: relative;
	width: 1170px;
	padding: 12px 0;
	margin: 0 auto;
}
.container-logo {
	display: inline-block;
	width: 80px;	
}
.container-logo > a {
	display: inline-block;
}
.container-logo > a > img {
	width: 100%;
}
.container-logo2 {
	display: inline-block;
	vertical-align: top;
	font-size: 24px;
	font-weight: 700;
	padding-left: 10px;
	cursor: pointer;
}
.logo-text1 {
	color: #555;
}
.logo-text2 {
	color: #52b349;
	padding-left: 20px;
}
.nav-bg {
	position: absolute;
	display: none;
	top: 103px;
	left: 0;
	width: 100%;
	height: 180px;
	background-color: rgba(247, 247, 247, .9);
	border-bottom: 2px solid #e4e4e4;
}
.wrap-header-2 {
	position: relative;
	box-shadow: 0 1px 2px #ddd;
	background-color: #fff;
}
.menu-header-2 {
	position: absolute;
	top: 30px;
	left: 50%;
	width: 52%;
	transform: translateX(-46%);
}
.menu-header-2 > ul > li {
	width: 120px;
	float: left;
}
.menu-header-2 > ul > li > a {
	font-size: 16px;
	font-weight: 600;
}
.menu-header-2 > ul > li > a:hover {
	color: #4cb845;
}
.menu-header-2 > ul > li > ul {
	display: none;
	height: 169px;
	margin: 28px 0px 0 -11px;
	border-left: 1px solid #e5e5e5;
	padding: 6px 10px;
}
.menu-header-2 > ul > li:last-child > ul {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}
.menu-header-2 > ul > li > ul > li {
	padding: 8px 0;
	text-align: left;
	font-size: 12px;
}
.menu-header-2 > ul > li > ul > li > a:hover {
	color: #4cb845;
	font-weight: 600;
}
/* HEADER END */
